<!DOCTYPE html>
<meta charset="utf-8">

<!-- CSS -->
<style>

html, body {
  margin: 0;
  padding: 0
}

header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  position: relative;
}

#headerBar {
  height: 100px;
  background: #8c1aff;
}

#contentWrapper {
  width: 70%;
  background: #fff;
  margin: 0 auto;
  text-align: center;
}

text {
  font: 10px sans-serif;
}

</style>

<!-- HTML -->
<div id="headerBar"></div>

<div id="contentWrapper">
  <header>
    <h1> SwagYolo Email Service </h1>
  </header>
  <br>
  <a href="./create">Click here to log in</a>
  <div id="output"> </div>
</div>

<!-- JS -->
<script>


</script>
